html {
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, sans-serif;
}
body {
  background: white;
  & > header {
    color: white;
    background: #6d6d6d;
    font-family: Poppins, sans-serif;
    font-size: min(1.5rem, 5vw);
    font-weight: 600;
    & a {
      color: inherit;
      text-decoration: none;
      display: block;
    }
    & img {
      width: 1.5em;
    }
  }
  & > nav {
    background: black;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    & a {
      color: inherit;
      text-decoration: none;;
    }
    & ul {
      padding: 0;
      margin-block: 0;
      padding-block: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      gap: 0 1rem;
    }
  }
  & > aside {
    position: sticky;
    top: 0;
    z-index: 10000;
    background: #F9BC26;
    padding-block: 0.5rem;
    font-family: Poppins;
    font-size: 1.1rem;
    text-align: center;
    & > * {
      margin-block: 0;
    }
  }
  & > footer {
    color: white;
    background: black;
    & a {
      color: inherit;
    }
  }
}
a:hover {
  text-decoration: underline;
}
table {
  table-layout: auto;
  margin-inline: auto;
}

input {
  font: inherit;
  padding: 0.3em;
  border: 1px solid black;
  border-radius: 0.5em;
  padding-inline: 1em;
  &[type=checkbox] {
    width: 1em;
    aspect-ratio: 1/1;
    /* appearance: none; */
    &:checked {
      background-color: black;
    }
  }
}