body {
  & > main, & > nav > *, & > footer > *, & > aside > * {
    max-width: 40rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }
  & > header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }
  & main {
    padding-block-end: 100px;
  }
  & > footer {
    min-height: 3rem;
  }
}
