body {
  line-height: 1.44em;
  & > main > *, & > header > *, & > nav > *, & > footer > *, & > aside > * {
    max-width: 1080px;
    margin-inline: auto;
    padding-inline: 1rem;
  }
  & > main {
	  padding-block: 2rem;
  }
  & > header > * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em 0.5rem;
    padding: 0.5rem 1rem;
    & * {
      margin-block: 0;
    }
  }
  & > footer {
    min-height: 3rem;
    padding-block: 2rem 3rem;
    & * {
      margin-block-start: 0;
    }
    > * {
      display: flex;
      align-items: flex-start;
      & > * {
        flex-grow: 0;
        flex-shrink: 0;
      }
      & > *:first-child {
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }
}
main p, footer p { margin-block-start: 1em; }
main > *:first-child, footer > *:first-child { margin-block-start: 0em; }
h1,h2,h3,h4 { line-height: 1em; }
h1 { font-size: 2em; margin-top: 2rem; }
h2 { font-size: 1.7em; margin-top: 2rem; font-weight: 500; }
h3 { font-size: 1.4em; margin-top: 2rem; }
h1:first-child, h2:first-child, h3:first-child { margin-top: 0; }