<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} &mdash; {{ metas.site }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <a href="/" title="Site home"><img src="/assets/images/oi-logo.svg" /></a>
    <a href="/" title="Site home">{{ metas.site }}</a>
  </header>
  <nav>
    <ul>
    {{ for link of site.nav }}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {{ /for }}
    </ul>
  </nav>
  <aside>
    <p>
      We are testing this site in the run-up to the General Election.
      Please be aware that it contains test data!
    </p>
  </aside>
  <main>
  {{ content }}
  </main>
  <footer>
  </footer>
</body>
</html>