[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
petl = "*"
dvc = "*"
rapidfuzz = "*"
tqdm = "*"
requests = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
