---
title: Home
---

<p>This site will present the results of the UK General Election 2024</p>

<h2>2024 Results</h2>
{{ include './results/2024.vto' }}

<h2>2019 Results</h2>
{{ include './results/2019.vto' }}