linear-gradient(110deg, {{ main }} 0%, {{ main }} calc(100% - 2em), white calc(100% - 2em), white calc(100% - 1.75em), {{ secondary }} calc(100% - 1.75em)),
linear-gradient( 70deg, {{ main }} 0%, {{ main }} calc(100% - 2em), white calc(100% - 2em), white calc(100% - 1.75em), {{ secondary }} calc(100% - 1.75em))