{{- set c = comp.colour({ colour: winner?.party_key || "none" }) -}}
{{- set c2 = comp.colour({ colour: parties[previous].colour }) -}}

<div class="winner" {{- if results }}data-id="{{ results.pcon24cd }}"{{ /if -}} data-previous="{{ previous }}" style="background:{{ comp.flash_gradient({ main: c.hex, secondary: c2.hex }) }};background-size:100% 100%;background-repeat: no-repeat;color:{{ c.contrast }};">
{{ if list }}
  {{ comp.winner_list({ title, winner, previous, results })}}
{{ else }}
  {{ comp.winner_card({ winner, results, previous }) }}
{{ /if }}
</div>