  <div class="about">
    {{- if title }}<strong class="title">{{ title }}</strong>: {{ /if -}}
    <span class="headline">
      {{- winner?.party_key ? parties[winner?.party_key].pa : "" -}}
  	  {{- if winner }}
	  	  {{ previous == winner?.party_key ? "HOLD": "GAIN" }}
		    {{- if !results.confirmed }} / provisional{{ /if -}}
	    {{ /if -}}
    </span>
	</div>
